<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdupt.mapper.FilesMapper">

    <resultMap type="com.gdupt.entity.Files" id="FilesMapper">
        <result property="fileId" column="file_id" jdbcType="INTEGER"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="fileSuffix" column="file_suffix" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="relationTypeId" column="relation_type_id" jdbcType="INTEGER"/>
        <result property="uploadTime" column="upload_time" jdbcType="TIMESTAMP"/>
        <result property="uploadUserId" column="upload_user_id" jdbcType="INTEGER"/>
        <result property="relationId" column="relation_id" jdbcType="INTEGER"/>
    </resultMap>


</mapper>