<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdupt.mapper.RoleRightMapper">

    <resultMap type="com.gdupt.entity.RoleRight" id="RoleRightMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="rightId" column="right_id" jdbcType="INTEGER"/>
    </resultMap>



</mapper>